## Bank Marketing

## Table of Contents
* [0. Bibliotecas e Configurações](#0-bibliotecas-e-configurações)
* [1. Leitura das bases de dados](#1-leitura-das-bases-de-dados)
* [2. Conhecendo os dados](#2-conhecendo-os-dados)
* [3. Conhecendo os dados](#3-conhecendo-os-dados)

## 0. Bibliotecas e Configurações

In [1]:
import os
import sys

diretorio_atual = os.getcwd()
print(f"Logado no diretório: {diretorio_atual}")
sys.path.append('/home/jovyan/work')

Logado no diretório: /home/jovyan/work

In [2]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt



# -------------------------------#
# Definindo os parâmetros globais
# -- Pandas

pd.set_option('display.max_columns', None)

# -- Matplotlib
plt.style.use('seaborn-v0_8')
plt.rcParams.update({
    'font.family': 'serif',         
    'font.serif': 'Times New Roman',
    'font.size': 12,                
    'axes.labelsize': 12,           
    'axes.titlesize': 12,           
    'xtick.labelsize': 10,          
    'ytick.labelsize': 10,          
    'legend.fontsize': 10,    
    'figure.titlesize': 10,         
    # 'axes.spines.right': False,     
    # 'axes.spines.top': False
    'savefig.dpi': 300,    
    'savefig.format': 'png',  
    'savefig.bbox': 'tight',      
    'savefig.pad_inches': 0.1       
})

## 1. Leitura das bases de dados

In [3]:
df_train = pd.read_csv('./data/bank-additional/bank-additional-full.csv', sep=';')
df_teste = pd.read_csv('./data/bank-additional/bank-additional.csv', sep=';')

## 2. Conhecendo os dados

In [4]:
print('Volume de dados de treino:', df_train.shape[0])
print('Volume de dados de teste:', df_teste.shape[0])
print('Quantidade de colunas:', df_train.shape[1])

Volume de dados de treino: 41188
Volume de dados de teste: 4119
Quantidade de colunas: 21

In [5]:
df_train.head(3)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

## 3. Conhecendo os dados